body {
    background-color: #232729;
    color: #2196f3;
    font-size: 5rem;
    font-family: sans;
}
p {
    margin: 0;
}
button {
    width: 6rem;
    height: 3rem;
    font-size: 1.5rem;
    background-color: #2196f3;
    border: none;
    border-radius: 10px;
}
#container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #08090a;
    border-radius: 100px;
    width: 500px;
    height: 300px;
    margin: auto;
}
